
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>HC Cinema</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <link href="~/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/css/style.css" rel="stylesheet" type="text/css" />
    <link href="~/css/contactstyle.css" rel="stylesheet" type="text/css" />
    <link href="~/css/faqstyle.css" rel="stylesheet" type="text/css" />
    <link href="~/css/single.css" rel='stylesheet' type='text/css' />
    <link href="~/css/medile.css" rel='stylesheet' type='text/css' />
    

    <!-- js -->
    <script type="text/javascript" src="~/js/jquery-2.1.4.min.js"></script>
    <!-- //js -->
    
    <!-- start-smoth-scrolling -->
    <script type="text/javascript" src="~/js/move-top.js"></script>
    <script type="text/javascript" src="~/js/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
            });
        });
    </script>
    <!-- start-smoth-scrolling -->
</head>

<body>
  
    <!-- header -->
    <div class="header">
        <div class="container">
            <div class="w3layouts_logo">
                <a href="index.html"><h1>HC<span>Cinema</span></h1></a>
                
            </div>
            <div class="w3_search">
                <form action="#" method="post">
                    <input type="text" name="Search" placeholder="Search" required="">
                    <input type="submit" value="Go">
                </form>
            </div>
            <div class="w3l_sign_in_register">
                <ul>
                    
                    @RenderSection("LoginText",false)
                  
                    
                    
                </ul>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <!-- //header -->
    <!-- bootstrap-pop-up -->
    @RenderSection("Login", false)
    
    
   
    <!-- //bootstrap-pop-up -->
   
  
    
    <div class="general_social_icons">
        <nav class="social">
            <ul>
                <li class="w3_facebook"><a href="https://www.facebook.com/HoaiLe.95" target="_blank">Facebook <i class="fa fa-facebook"></i></a></li>
                
            </ul>
        </nav>
    </div>
   

    <script>
        function Refresh() {
            location.reload();
        }
    </script>

    

    <!-- nav -->
    <div class="movies_nav">
        <div class="container">
            <nav class="navbar navbar-default">
                <div class="navbar-header navbar-left">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                
                <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
                    <nav>
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="#" onclick="Refresh()">Trang chủ</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Phim <b class="caret"></b></a>
                                <ul class="dropdown-menu multi-column columns-3">
                                    <li>
                                        <div class="col-md-7">
                                            <ul class="multi-column-dropdown">
                                                <li><a href="genres.html">Thêm mới phim</a></li>
                                                <li><a href="genres.html">Sắp lịch chiếu</a></li>
                                                <li><a href="genres.html">Lịch chiếu phim</a></li>
                                               
                                            </ul>
                                        </div>
                                      
                                        <div class="clearfix"></div>
                                    </li>
                                </ul>
                            </li>
                            
                           <li class="dropdown">
                               <a href="#" class="dropdown-toggle" data-toggle="dropdown">Hoạt động <b class="caret"></b></a>
                               <ul class="dropdown-menu multi-column columns-3">
                                   <li>
                                       <div class="col-md-7">
                                           <ul class="multi-column-dropdown">
                                               <li><a href="genres.html">Bán vé</a></li>
                                         
                                           </ul>
                                       </div>

                                       <div class="clearfix"></div>
                                   </li>
                               </ul>
                           </li>

                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Khách hàng <b class="caret"></b></a>
                                <ul class="dropdown-menu multi-column columns-3">
                                    <li>
                                        <div class="col-md-7">
                                            <ul class="multi-column-dropdown">
                                                <li><a href="genres.html">Thêm mới</a></li>
                                                <li><a href="genres.html">Xem danh sách</a></li>
                                            </ul>
                                        </div>

                                        <div class="clearfix"></div>
                                    </li>
                                </ul>
                            </li>

                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Nhân viên </a>

                            </li>

                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Báo cáo <b class="caret"></b></a>
                                <ul class="dropdown-menu multi-column columns-3">
                                    <li>
                                        <div class="col-md-7">
                                            <ul class="multi-column-dropdown">
                                                <li><a href="genres.html">Doanh thu</a></li>
                                                <li><a href="genres.html">Chi tiền lương tháng</a></li>
                                            </ul>
                                        </div>

                                        <div class="clearfix"></div>
                                    </li>
                                </ul>
                            </li>

                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Cài đặt <b class="caret"></b></a>
                                <ul class="dropdown-menu multi-column columns-3">
                                    <li>
                                        <div class="col-md-7">
                                            <ul class="multi-column-dropdown">
                                                <li><a href="genres.html">Cập nhập giá vé</a></li>
                                                <li><a href="genres.html">Tình trạng phòng chiếu</a></li>
                                            
                                            </ul>
                                        </div>

                                        <div class="clearfix"></div>
                                    </li>
                                </ul>
                            </li>
                          
                        </ul>
                    </nav>
                </div>
            </nav>
        </div>
    </div>
    <!-- //nav -->
    @RenderBody()
  
   
    <!-- footer -->
    <div class="footer">
        <div class="container">
            <div class="w3ls_footer_grid">
                <div class="col-md-6 w3ls_footer_grid_left">
                    <div class="w3ls_footer_grid_left1">
                        <h2>Nhóm 25</h2>
                    </div>
                </div>
                <div class="col-md-6 w3ls_footer_grid_right">
                    <a href="index.html"><h2>HC<span>Cinema</span></h2></a>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="col-md-5 w3ls_footer_grid1_left">
                <p>&copy; 2016 HC Cinema. All rights reserved</p>
            </div>
            <div class="col-md-7 w3ls_footer_grid1_right">
                <ul>
                    <li>
                        <a href="genres.html">Movies</a>
                    </li>
                  
                </ul>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <!-- //footer -->
    <!-- Bootstrap Core JavaScript -->
    <script src="~/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".dropdown").hover(
                function () {
                    $('.dropdown-menu', this).stop(true, true).slideDown("fast");
                    $(this).toggleClass('open');
                },
                function () {
                    $('.dropdown-menu', this).stop(true, true).slideUp("fast");
                    $(this).toggleClass('open');
                }
            );
        });
    </script>
    <!-- //Bootstrap Core JavaScript -->
    <!-- here stars scrolling icon -->
    <script type="text/javascript">
        $(document).ready(function () {
            /*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear'
				};
			*/

            $().UItoTop({ easingType: 'easeOutQuart' });

        });
    </script>
    <!-- //here ends scrolling icon -->
</body>
</html>