USE [master]
GO
/****** Object:  Database [QuanLyCinema]    Script Date: 29/11/2016 2:11:57 AM ******/
CREATE DATABASE [QuanLyCinema]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyCinema', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\QuanLyCinema.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QuanLyCinema_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\QuanLyCinema_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyCinema].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyCinema]
GO
/****** Object:  Table [dbo].[BANGLUONG]    Script Date: 29/11/2016 2:11:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BANGLUONG](
	[MABANGLUONG] [varchar](20) NOT NULL,
	[THANG] [int] NULL,
	[NAM] [int] NULL,
	[TONG] [decimal](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[MABANGLUONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CALAM]    Script Date: 29/11/2016 2:11:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CALAM](
	[MACA] [varchar](20) NOT NULL,
	[THOIGIAN] [nvarchar](100) NULL,
	[SOTIENG] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MACA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CHUCVU]    Script Date: 29/11/2016 2:11:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHUCVU](
	[MACHUCVU] [varchar](20) NOT NULL,
	[TENCHUCVU] [nvarchar](50) NULL,
	[LUONG] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MACHUCVU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CT_BANGLUONG]    Script Date: 29/11/2016 2:11:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CT_BANGLUONG](
	[MABANGLUONG] [varchar](20) NOT NULL,
	[MANV] [varchar](20) NOT NULL,
	[MATHUQUY] [varchar](20) NULL,
	[TONGTIME] [int] NULL,
	[HESOLUONG] [int] NULL,
	[TONGTIEN] [int] NULL,
	[TINHTRANG] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MABANGLUONG] ASC,
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CT_HOADON]    Script Date: 29/11/2016 2:11:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CT_HOADON](
	[MAHD] [varchar](20) NOT NULL,
	[MAVE] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC,
	[MAVE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CT_PHIM]    Script Date: 29/11/2016 2:11:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CT_PHIM](
	[MAPHIM] [varchar](20) NOT NULL,
	[PHIENBAN] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPHIM] ASC,
	[PHIENBAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 29/11/2016 2:11:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HOADON](
	[MAHD] [varchar](20) NOT NULL,
	[MANV] [varchar](20) NULL,
	[MAKH] [varchar](20) NULL,
	[NGAYBAN] [smalldatetime] NULL,
	[GIAVE] [int] NULL,
	[SOLUONG] [int] NULL,
	[GIATIEN] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 29/11/2016 2:11:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [varchar](20) NOT NULL,
	[MALOAI] [varchar](20) NULL,
	[DIEMTICHLUY] [int] NULL,
	[HOTEN] [nvarchar](100) NULL,
	[NGAYSINH] [smalldatetime] NULL,
	[NGAYDK] [smalldatetime] NULL,
	[CMND] [varchar](20) NULL,
	[SDT] [varchar](20) NULL,
	[DIACHI] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LICHCHIEU]    Script Date: 29/11/2016 2:11:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LICHCHIEU](
	[MALICHCHIEU] [varchar](20) NOT NULL,
	[MAPHIM] [varchar](20) NULL,
	[PHIENBAN] [nvarchar](50) NULL,
	[MAPHONGCHIEU] [varchar](20) NULL,
	[NGAYCHIEU] [smalldatetime] NULL,
	[GIOBATDAU] [varchar](20) NULL,
	[GIOKETTHUC] [varchar](20) NULL,
	[TINHTRANG] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MALICHCHIEU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LICHLAMVIEC]    Script Date: 29/11/2016 2:11:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LICHLAMVIEC](
	[MALLV] [varchar](20) NOT NULL,
	[MANV] [varchar](20) NULL,
	[NGAYLAMVIEC] [smalldatetime] NULL,
	[CONGVIEC] [nvarchar](50) NULL,
	[MAPHONGCHIEU] [varchar](20) NULL,
	[MACA] [varchar](20) NULL,
	[MANGS] [varchar](20) NULL,
	[TINHTRANG] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MALLV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOAIKH]    Script Date: 29/11/2016 2:11:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOAIKH](
	[MALOAI] [varchar](20) NOT NULL,
	[DIEM] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 29/11/2016 2:11:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [varchar](20) NOT NULL,
	[PASSWORD] [varchar](50) NULL,
	[HOTEN] [nvarchar](100) NULL,
	[NGAYSINH] [smalldatetime] NULL,
	[GIOITINH] [nvarchar](10) NULL,
	[MACHUCVU] [varchar](20) NULL,
	[NGAYVAOLAM] [smalldatetime] NULL,
	[CMND] [varchar](20) NULL,
	[EMAIL] [varchar](50) NULL,
	[SDT] [varchar](20) NULL,
	[DIACHI] [nvarchar](200) NULL,
	[TINHTRANG] [nvarchar](100) NULL,
	[AVARTA] [image] NULL,
PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHIM]    Script Date: 29/11/2016 2:11:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHIM](
	[MAPHIM] [varchar](20) NOT NULL,
	[TENPHIM] [nvarchar](200) NULL,
	[CONGNGHE] [varchar](10) NULL,
	[THELOAI] [nvarchar](200) NULL,
	[QUOCGIA] [nvarchar](200) NULL,
	[THOILUONG] [int] NULL,
	[DAODIEN] [nvarchar](200) NULL,
	[DIENVIEN] [nvarchar](200) NULL,
	[TINHTRANG] [nvarchar](50) NULL,
	[CHITIET] [nvarchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPHIM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHONGCHIEU]    Script Date: 29/11/2016 2:11:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHONGCHIEU](
	[MAPHONGCHIEU] [varchar](20) NOT NULL,
	[TENPHONGCHIEU] [nvarchar](50) NULL,
	[SOGHE] [int] NULL,
	[TINHTRANG] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPHONGCHIEU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[THAMSO]    Script Date: 29/11/2016 2:11:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THAMSO](
	[TIENVON] [decimal](18, 0) NULL,
	[GIAVE] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[VE]    Script Date: 29/11/2016 2:11:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[VE](
	[MAVE] [varchar](20) NOT NULL,
	[MALICHCHIEU] [varchar](20) NULL,
	[STTGHE] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAVE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[CALAM] ([MACA], [THOIGIAN], [SOTIENG]) VALUES (N'CA1', N'7:30 - 12:30', 5)
INSERT [dbo].[CALAM] ([MACA], [THOIGIAN], [SOTIENG]) VALUES (N'CA2', N'12:30 - 17:30', 5)
INSERT [dbo].[CALAM] ([MACA], [THOIGIAN], [SOTIENG]) VALUES (N'CA3', N'17:30 - 23:30', 6)
INSERT [dbo].[CHUCVU] ([MACHUCVU], [TENCHUCVU], [LUONG]) VALUES (N'CV001', N'Quản lý', 50000000)
INSERT [dbo].[CHUCVU] ([MACHUCVU], [TENCHUCVU], [LUONG]) VALUES (N'CV002', N'Thủ quỹ', 20000000)
INSERT [dbo].[CHUCVU] ([MACHUCVU], [TENCHUCVU], [LUONG]) VALUES (N'CV003', N'Giám sát', 20000000)
INSERT [dbo].[CT_PHIM] ([MAPHIM], [PHIENBAN]) VALUES (N'PH001', N'Lồng tiếng')
INSERT [dbo].[CT_PHIM] ([MAPHIM], [PHIENBAN]) VALUES (N'PH001', N'Phụ đề')
INSERT [dbo].[CT_PHIM] ([MAPHIM], [PHIENBAN]) VALUES (N'PH002', N'Lồng tiếng')
INSERT [dbo].[KHACHHANG] ([MAKH], [MALOAI], [DIEMTICHLUY], [HOTEN], [NGAYSINH], [NGAYDK], [CMND], [SDT], [DIACHI]) VALUES (N'KH001', N'MEMBER', 0, N'Phạm Thi Vương', CAST(0x72230000 AS SmallDateTime), CAST(0xA24A0000 AS SmallDateTime), N'099123456', N'0982211111', N'55/15')
INSERT [dbo].[KHACHHANG] ([MAKH], [MALOAI], [DIEMTICHLUY], [HOTEN], [NGAYSINH], [NGAYDK], [CMND], [SDT], [DIACHI]) VALUES (N'KH002', N'MEMBER', 0, N'Phan Nguyệt Minh', CAST(0x72230000 AS SmallDateTime), CAST(0xA24A0000 AS SmallDateTime), N'099123456', N'0982211111', N'55/15')
INSERT [dbo].[KHACHHANG] ([MAKH], [MALOAI], [DIEMTICHLUY], [HOTEN], [NGAYSINH], [NGAYDK], [CMND], [SDT], [DIACHI]) VALUES (N'KH003', N'MEMBER', 0, N'Dương Tôn Đảm', CAST(0x72230000 AS SmallDateTime), CAST(0xA24A0000 AS SmallDateTime), N'099123456', N'0982211111', N'55/15')
INSERT [dbo].[LICHCHIEU] ([MALICHCHIEU], [MAPHIM], [PHIENBAN], [MAPHONGCHIEU], [NGAYCHIEU], [GIOBATDAU], [GIOKETTHUC], [TINHTRANG]) VALUES (N'LC001', N'PH001', N'Lồng tiếng', N'PC001', CAST(0xA6920000 AS SmallDateTime), N'5,30', N'8,00', N'Đã chiếu')
INSERT [dbo].[LICHCHIEU] ([MALICHCHIEU], [MAPHIM], [PHIENBAN], [MAPHONGCHIEU], [NGAYCHIEU], [GIOBATDAU], [GIOKETTHUC], [TINHTRANG]) VALUES (N'LC002', N'PH001', N'Phụ đề', N'PC001', CAST(0xA6920000 AS SmallDateTime), N'8,30', N'11,00', N'Đã chiếu')
INSERT [dbo].[LICHCHIEU] ([MALICHCHIEU], [MAPHIM], [PHIENBAN], [MAPHONGCHIEU], [NGAYCHIEU], [GIOBATDAU], [GIOKETTHUC], [TINHTRANG]) VALUES (N'LC003', N'PH002', N'Lồng tiếng', N'PC002', CAST(0xA6920000 AS SmallDateTime), N'5,30', N'7,00', N'Đã chiếu')
INSERT [dbo].[LICHLAMVIEC] ([MALLV], [MANV], [NGAYLAMVIEC], [CONGVIEC], [MAPHONGCHIEU], [MACA], [MANGS], [TINHTRANG]) VALUES (N'LLV001', N'NV004', CAST(0xA69B0000 AS SmallDateTime), N'Bán vé', NULL, N'CA1', N'NV003', N'Chưa làm')
INSERT [dbo].[LICHLAMVIEC] ([MALLV], [MANV], [NGAYLAMVIEC], [CONGVIEC], [MAPHONGCHIEU], [MACA], [MANGS], [TINHTRANG]) VALUES (N'LLV002', N'NV005', CAST(0xA69B0000 AS SmallDateTime), N'Xét vé', N'PC001', N'CA1', N'NV003', N'Chưa làm')
INSERT [dbo].[LICHLAMVIEC] ([MALLV], [MANV], [NGAYLAMVIEC], [CONGVIEC], [MAPHONGCHIEU], [MACA], [MANGS], [TINHTRANG]) VALUES (N'LLV003', N'NV006', CAST(0xA69B0000 AS SmallDateTime), N'Trực phòng chiếu', N'PC001', N'CA1', N'NV003', N'Chưa làm')
INSERT [dbo].[LOAIKH] ([MALOAI], [DIEM]) VALUES (N'MEMBER', 0)
INSERT [dbo].[LOAIKH] ([MALOAI], [DIEM]) VALUES (N'V-VIP', 8800000)
INSERT [dbo].[LOAIKH] ([MALOAI], [DIEM]) VALUES (N'VIP', 3500000)
INSERT [dbo].[NHANVIEN] ([MANV], [PASSWORD], [HOTEN], [NGAYSINH], [GIOITINH], [MACHUCVU], [NGAYVAOLAM], [CMND], [EMAIL], [SDT], [DIACHI], [TINHTRANG], [AVARTA]) VALUES (N'NV001', N'123', N'Nguyễn Quản Lý', CAST(0x889B0000 AS SmallDateTime), N'Nam', N'CV001', CAST(0xA6920000 AS SmallDateTime), N'0123456789', N'123@gmail.com', N'0912345678', N'78/7', N'Đang hoạt động', NULL)
INSERT [dbo].[NHANVIEN] ([MANV], [PASSWORD], [HOTEN], [NGAYSINH], [GIOITINH], [MACHUCVU], [NGAYVAOLAM], [CMND], [EMAIL], [SDT], [DIACHI], [TINHTRANG], [AVARTA]) VALUES (N'NV002', N'123', N'Nguyễn Thủ Quỹ', CAST(0x889B0000 AS SmallDateTime), N'Nam', N'CV002', CAST(0xA6930000 AS SmallDateTime), N'0123456689', N'124@gmail.com', N'0912355678', N'78/7', N'Đang hoạt động', NULL)
INSERT [dbo].[NHANVIEN] ([MANV], [PASSWORD], [HOTEN], [NGAYSINH], [GIOITINH], [MACHUCVU], [NGAYVAOLAM], [CMND], [EMAIL], [SDT], [DIACHI], [TINHTRANG], [AVARTA]) VALUES (N'NV003', N'123', N'Nguyễn Giám Sát', CAST(0x889B0000 AS SmallDateTime), N'Nam', N'CV003', CAST(0xA6940000 AS SmallDateTime), N'0123456669', N'125@gmail.com', N'0914445678', N'78/7', N'Đang hoạt động', NULL)
INSERT [dbo].[PHIM] ([MAPHIM], [TENPHIM], [CONGNGHE], [THELOAI], [QUOCGIA], [THOILUONG], [DAODIEN], [DIENVIEN], [TINHTRANG], [CHITIET]) VALUES (N'PH001', N'Cô Hầu Gái', N'2D', N'Tâm lý - Tình cảm', N'Hàn Quốc', 150, N'Park Chan Wook', N'Kim Min Hee, Ha Jung-woo, Jo Jin Woong', N'Đang sử dụng', N'Phim Người Hầu Gái - The Handmaiden (2016): Diễn ra trong thời kì Hàn quốc đang là thuộc địa của Nhật (1910-1945). Một cô gái mồ côi được thuê bởi một người đàn ông để lấy được lòng tin của một người thừa kế nữ giàu có, nhưng cuối cùng lại phải lòng cô gái ấy.')
INSERT [dbo].[PHIM] ([MAPHIM], [TENPHIM], [CONGNGHE], [THELOAI], [QUOCGIA], [THOILUONG], [DAODIEN], [DIENVIEN], [TINHTRANG], [CHITIET]) VALUES (N'PH002', N'Tiểu Đội Cò Bay', N'2D', N'Hài - Hoạt Hình', N'Mỹ', 90, N'Nicholas Stoller, Doug Sweetland', N'Andy Samberg, Kelsey Grammer', N'Đang sử dụng', N'Lấy nội dung từ những truyền thuyết cổ xưa, em bé được những chú cò mang đến cho bố mẹ trong bọc vải trẳng, STORKS là bộ phim hoạt hình hài hước nhưng không kém phần nhân văn với nội dung được khai thác độc đáo và thú vị về sự liên hệ giữa thế giới loài cò và con người.')
INSERT [dbo].[PHONGCHIEU] ([MAPHONGCHIEU], [TENPHONGCHIEU], [SOGHE], [TINHTRANG]) VALUES (N'PC001', N'Phòng chiếu A', 100, N'Đang sử dụng')
INSERT [dbo].[PHONGCHIEU] ([MAPHONGCHIEU], [TENPHONGCHIEU], [SOGHE], [TINHTRANG]) VALUES (N'PC002', N'Phòng chiếu B', 100, N'Đang sử dụng')
INSERT [dbo].[PHONGCHIEU] ([MAPHONGCHIEU], [TENPHONGCHIEU], [SOGHE], [TINHTRANG]) VALUES (N'PC003', N'Phòng chiếu C', 100, N'Không sử dụng')
INSERT [dbo].[THAMSO] ([TIENVON], [GIAVE]) VALUES (CAST(100000000 AS Decimal(18, 0)), 90000)
ALTER TABLE [dbo].[CT_BANGLUONG]  WITH CHECK ADD FOREIGN KEY([MABANGLUONG])
REFERENCES [dbo].[BANGLUONG] ([MABANGLUONG])
GO
ALTER TABLE [dbo].[CT_BANGLUONG]  WITH CHECK ADD FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[CT_HOADON]  WITH CHECK ADD FOREIGN KEY([MAHD])
REFERENCES [dbo].[HOADON] ([MAHD])
GO
ALTER TABLE [dbo].[CT_HOADON]  WITH CHECK ADD FOREIGN KEY([MAVE])
REFERENCES [dbo].[VE] ([MAVE])
GO
ALTER TABLE [dbo].[CT_PHIM]  WITH CHECK ADD FOREIGN KEY([MAPHIM])
REFERENCES [dbo].[PHIM] ([MAPHIM])
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[KHACHHANG]  WITH CHECK ADD FOREIGN KEY([MALOAI])
REFERENCES [dbo].[LOAIKH] ([MALOAI])
GO
ALTER TABLE [dbo].[LICHCHIEU]  WITH CHECK ADD FOREIGN KEY([MAPHIM], [PHIENBAN])
REFERENCES [dbo].[CT_PHIM] ([MAPHIM], [PHIENBAN])
GO
ALTER TABLE [dbo].[LICHCHIEU]  WITH CHECK ADD FOREIGN KEY([MAPHONGCHIEU])
REFERENCES [dbo].[PHONGCHIEU] ([MAPHONGCHIEU])
GO
ALTER TABLE [dbo].[LICHLAMVIEC]  WITH CHECK ADD FOREIGN KEY([MANGS])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[LICHLAMVIEC]  WITH CHECK ADD FOREIGN KEY([MACA])
REFERENCES [dbo].[CALAM] ([MACA])
GO
ALTER TABLE [dbo].[LICHLAMVIEC]  WITH CHECK ADD FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD FOREIGN KEY([MACHUCVU])
REFERENCES [dbo].[CHUCVU] ([MACHUCVU])
GO
ALTER TABLE [dbo].[VE]  WITH CHECK ADD FOREIGN KEY([MALICHCHIEU])
REFERENCES [dbo].[LICHCHIEU] ([MALICHCHIEU])
GO
USE [master]
GO
