@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section LoginText{
    @Html.Partial("~/Views/Home/LoginTextPartial.cshtml")
}




@using (Html.BeginForm(FormMethod.Get))
{ 
    <div class="modal-footer" id="password_modal">
        <div class="modal-header">
            <h3 class="bg-info">Đổi mật khẩu <span class="extra-title muted"></span></h3>
        </div>
        <div class="modal-body form-horizontal">
            <div class="form-group">

                <div class="col-xs-4">
                    <label for="current_password" class="control-label" style="float:left">Mật khẩu hiện tại</label>
                    <div style="position:relative">
                    
                        <input type="password" name="current_password" class="form-control" autofocus required>
                    </div>
                    
                </div>

            </div>
      
            <div class="form-group">

                <div class="col-xs-4">
                    <label for="new_password" class="control-label" style="float:left">Mật khẩu mới</label>
                    
                        <div style="position:relative">
                    
                        <input id="new_password" type="password" name="new_password" class="form-control" required placeholder="Nhập 6-10 ký tự">
                        </div>
                 </div>
                <a id="checkpasswordnew" style="float:left;margin-top:1cm;  letter-spacing:1px"></a>
            </div>
            <div class="form-group">
                <div class="col-xs-4">
                    <label for="confirm_password" class="control-label" style="float:left">Nhập lại mật khẩu mới</label>
                    <div style="position:relative">
                        <i class="glyphicon glyphicon-eye-open" style="position:absolute;right:5px;padding-top:38px;cursor:pointer" id="showpass"></i>
                        <input id="confirm_password" type="password" name="confirm_password" class="form-control" required disabled>
                     </div>
                    </div>
                
                <a id="checkpassword" style="float:left;margin-top:1cm;letter-spacing:1px"></a>
            </div>
        </div>
       
        <div class="modal-footer">
            @Html.ValidationSummary(false, "", new { @class = "text-danger" , @style = "float:left"})
          <input type="submit" value="Lưu lại" class="btn btn-primary" disabled id="Save"  name="Save"/>
           
            
</div>
    </div>
    
    <script>
    



        $('#new_password').keyup(function () {

            if ($('#new_password').val().length >= 0 ) {
               
                if ($('#new_password').val().length >= 6 && $('#new_password').val().length <= 10)
                {
                    $('#checkpasswordnew').removeClass('glyphicon glyphicon-remove-sign').addClass('glyphicon glyphicon-ok-sign');
                    $('#checkpasswordnew').text(" ");
                    
                }
                else {
                    $('#checkpasswordnew').removeClass('glyphicon glyphicon-ok-sign').addClass('glyphicon glyphicon-remove-sign');
                    $('#checkpasswordnew').text("Yêu cầu từ 6 - 10 ký tự");
                    
                }

            }
            if ($('#new_password').val().length >= 6 && $('#new_password').val().length <= 10)
                $('#confirm_password').attr("disabled", false);
            else
                $('#confirm_password').attr("disabled", true);



        });
     


        $('#confirm_password').keyup(function () {
            
          
            
                if ($('#confirm_password').val() == $('#new_password').val()) {

                    $('#checkpassword').removeClass('glyphicon glyphicon-remove-sign').addClass('glyphicon glyphicon-ok-sign');
                    $('#checkpassword').text(" ");
                    $('#Save').prop("disabled", false);
                }
                else {

                    $('#checkpassword').removeClass('glyphicon glyphicon-ok-sign').addClass('glyphicon glyphicon-remove-sign');
                    $('#checkpassword').text(" Mật khẩu chưa trùng khớp");
                    $('#Save').prop("disabled", true);

                }
        

        });

        $('.glyphicon').hide();
        $('#confirm_password').on("keyup", function () {
            if ($(this).val())
            {
                $('.glyphicon').show();
            }
            else
                $('.glyphicon').hide();
        });
        $('#showpass').mousedown(function () {
            $('#confirm_password').prop("type","text");
        }).mouseup(function () {
            $('#confirm_password').prop("type", "password");
        });
      


</script>
}
