@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section LoginText{
    @Html.Partial("~/Views/Home/LoginTextPartial.cshtml")
}




@using (Html.BeginForm(FormMethod.Get))
{ 
    <div class="modal-footer" id="password_modal">
        <div class="modal-header">
            <h3>Đổi mật khẩu <span class="extra-title muted"></span></h3>
        </div>
        <div class="modal-body form-horizontal">
            <div class="form-group">

                <div class="col-xs-4">
                    <label for="current_password" class="control-label" style="float:left">Mật khẩu hiện tại</label>
                    <input type="password" name="current_password" class="form-control" autofocus required>
                </div>

            </div>
            <div class="form-group">

                <div class="col-xs-4">
                    <label for="new_password" class="control-label" style="float:left">Mật khẩu mới</label>
                    <input id="new_password" type="password" name="new_password" class="form-control" required>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-4">
                    <label for="confirm_password" class="control-label" style="float:left">Nhập lại mật khẩu mới</label>
                    <input id="confirm_password" type="password" name="confirm_password"  class="form-control" required>
                   
                </div>
                <span id="checkpassword" style="float:left;margin-top:1cm"></span>
            </div>
        </div>
       
        <div class="modal-footer">
            @Html.ValidationSummary(false, "", new { @class = "text-danger" , @style = "float:left"})
          <input type="submit" value="Lưu lại" class="btn btn-primary" disabled id="Save" />
           
            
</div>
    </div>
    
    <script>
        
        $('#confirm_password,#new_password').keyup(function () {
            
        if ( $('#confirm_password').val() == $('#new_password').val())
        {
         
                $('#checkpassword').removeClass('glyphicon glyphicon-remove-sign').addClass('glyphicon glyphicon-ok-sign');
            
            $('#Save').prop("disabled", false);
        }
        else
        {
            
                $('#checkpassword').removeClass('glyphicon glyphicon-ok-sign').addClass('glyphicon glyphicon-remove-sign');
          
            $('#Save').prop("disabled", true);
           
        }
          

    });
</script>
}
